body{
    font-family: 'Times New Roman', Times, serif;
    
}
.container{
    background-color: rgb(208, 208, 208);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
}
h1{
    font-size: 80px;
}
#restart{
    font-size: 30px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(13,110,253);
    color: white;
    font-weight: 100px;
}
#restart:hover{
    background-color: rgb(37, 124, 254);
}

table, td{
    border: 5px solid black;
    width: 350px;
    height: 150px;
    margin: auto;
}
td{
    width: fit-content;
}
#value{
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    border: 0;
}
#player{ 
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    flex-direction: row;
    font-size: 30px;
    z-index: 0;
}